#scroll{
	-fx-background: black;
}

#scroll2{
	-fx-background: black;
}

#pane{
	-fx-max-width:750;
	-fx-min-width:750;
	-fx-pref-width:750;
	-fx-pref-height:550;
	-fx-max-height:550;
	-fx-min-height:550;
}


#ticket{
	-fx-background-radius:100.0;
	-fx-background-color: #801d16;
	-fx-text-fill:#e8c103;
	-fx-font-weight: bold;
	-fx-font-family:"system";
	-fx-font-size:15.0;
}

#disc{
	-fx-background-radius:100.0;
	-fx-background-color: #801d16;
	-fx-text-fill:#e8c103;
	-fx-font-weight: bold;
	-fx-font-size:15.0;
}


#boxImages{
	-fx-background-color: rgba(0.0, 0.0, 0.0, 0.0);
	
}

#image{
	-fx-alignment: center;
}

#boxImage{
	
	-fx-border-color:#c6a305;
	-fx-border-radius:5.0;
	-fx-border-width:1.0;
	-fx-alignment: center;
}

#notAvailable{
	-fx-text-fill:#de1b09;
	-fx-font-weight: bold;
	-fx-font-size:15.0;
}

#progress{
	/*-fx-background-color:#c6a305;*/
	-fx-text-fill:#e8901c;
	-fx-font-weight: bold;
	-fx-font-size:15.0;
	
}
#textImages{
	-fx-text-fill:#801d16;
	-fx-font-weight: bold;
	-fx-font-size:13.0;
}



#error{
	-fx-font-weight: bold;
	-fx-font-size:15.0;
	
}


#oneImage{
	-fx-border-color:#c6a305;
	-fx-border-radius:5.0;
	-fx-border-width:2.0;
}



#textLoad{
	-fx-font-weight: bold;
	-fx-font-size:20.0;
}

#gold{
	-fx-text-fill: #c99f52;
}

#removeBack{
	-fx-background-color: rgba(0.0, 0.0, 0.0, 0.0);
	-fx-background-radius: 10.0px;
}

