#AnchorPane {
    -fx-background-color: #1d1d1d;
}

.button {
    -fx-background-color: #8a2615;
    -fx-border-color:#e4bb07;
    -fx-text-fill:white;
}

#ToolBar {
    -fx-background-color: #8a2615;
    -fx-border-color:#e4bb07;
}

#ToolBar .button {
    -fx-background-color: #9c472e;
    -fx-border-color:#e4bb07;
    -fx-text-fill:white;
}

.label {
    -fx-text-fill:#e4bb07;
}

.text-input {
    -fx-control-inner-background: #8a2615;
    -fx-prompt-text-fill:#c08170;
    -fx-border-color:#531200; 
}

.list-cell {
    -fx-background-color: #e6cec7;
    -fx-border-color:#c08170;
    -fx-border-width: 0.2px;
}

.list-cell:filled:selected:focused {
    
    -fx-background-color: #9c472e;
}

.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
} 

.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}